<launch>
    <node pkg="rosbag" type="play" name="rosbag" args="-d 2 $(find stopsign)/data/001_fixed_bags/single_i_fixed.bag"/>
    <node name="extract" pkg="image_view" type="extract_images" respawn="false" output="screen" cwd="ROS_HOME">
        <remap from="image" to="/camera/image"/>
        <param name="filename_format" value="$(find stopsign)/data/002_original_images/frame%04i.jpg"/>
        <param name="sec_per_frame" value="0.02"/>
    </node>
</launch>
